[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "pack/plugins/fzf"]
	path = pack/plugins/fzf
	url = https://github.com/junegunn/fzf
[submodule "pack/plugins/start/fzf"]
	path = pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "pack/plugins/start/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/colorschemes/start/gruvbox"]
	path = pack/colorschemes/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
